<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Results</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- W3CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>


<body id="resultBackground">
<nav class="navbar fixed-top w3-animate-top">
    <a class="navbar-brand" href="#">
        <img class="brand-img" src="images/film2.png" alt="Brand">
        Movies and TV Shows
    </a>
</nav>
<br>
<br>

    <%var minimumLength = Math.min(data["Search"].length, 5)%>
    <%var maximumLength = Math.max(data["Search"].length, 5)%>


    <div class="card-deck">
        <% for(var i = 0; i<minimumLength; i++){ %>
        <div class="card w3-animate-left">
            <img class="card-img-top" src="<%=data["Search"][i]["Poster"]%>" alt="images/noImage.jpg">
            <div class="card-content">
                <p class="movie-title"><%=data["Search"][i]["Title"]%></p>
                <p class="movie-year">Year: <%=data["Search"][i]["Year"]%></p>
                <p class="movie-year">Type: <%=data["Search"][i]["Type"]%></p>
            </div>
        </div>
        <%}%>
    </div>

        <%if(maximumLength > 5) {%>
            <div class="card-deck">
            <% for(var i = minimumLength; i<data["Search"].length; i++){ %>
                <div class="card w3-animate-left">
                <img class="card-img-top" src="<%=data["Search"][i]["Poster"]%>">
                <div class="card-content">
                    <p class="movie-title"><%=data["Search"][i]["Title"]%></p>
                    <p class="movie-year">Year: <%=data["Search"][i]["Year"]%></p>
                    <p class="movie-year">Type: <%=data["Search"][i]["Type"]%></p>
                </div>
                </div>
                <%}%>
            </div>
        <%}%>



</body>
</html>